@media (min-width: 576px) {
  .mobile-menu-design {
    display: none;
  }
  .web-menu-design {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-image {
    width: 25%;
  }
  .main-image__batman {
    width: 30rem;
    height: 30rem;
    position: absolute;
    object-fit: contain;
    top: -3.3rem;
    margin: 0 auto;
  }
  .main-image__shape {
    width: 30rem;
    height: 30rem;
  }
}
@media (min-width: 768px) {
  .warper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .image-mobile {
    display: none;
  }
  .image-web {
    display: block;
  }
  .line {
    margin-bottom: 0rem;
  }
  .main-image {
    width: 48%;
    margin: 2rem auto;
  }
  .main-image__women {
    width: 48%;
    margin-top: 2rem 1rem;
  }
  .main-image__batman {
    width: 32rem;
    height: 32rem;
    position: absolute;
    object-fit: contain;
    top: -3.3rem;
    margin: 0 auto;
  }
  .main-image__shape {
    width: 32rem;
    height: 32rem;
  }
  .cards {
    justify-content: space-between;
  }
  .card {
    width: 33rem;
    flex-grow: 1;
    margin: 3rem 1rem;
  }
}
@media (min-width: 992px) {
  .header-wraper {
    position: relative;
    width: 97rem;
    height: 68rem;
  }
  .main-wraper {
  
  height: 76rem;
}
  .event {
    position: relative;
    width: 97rem;
    height: 86rem;
  }
  .header-cards {
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: -6rem;
    left: -1rem;
    margin: 0 auto;
  }
  .event-cards {
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: -6rem;
    left: -1rem;
    margin: 0 auto;
  }
  .main-image__batman {
    width: 39rem;
    height: 39rem;
    position: absolute;
    object-fit: contain;
    top: -3.3rem;
    margin: 0 auto;
  }
  .main-image__shape {
    width: 39rem;
    height: 39rem;
  }
  .services__text {
    max-width: 47rem;
    margin-bottom: 3rem;
    padding-top: 8rem;
  }
  .cards {
    justify-content: space-between;
  }
  .card {
    width: 40rem;
  }
  .wrapper-images__banner {
    margin-right: 1rem;
  }
  .camera__left {
    display: flex;
  }
  .camera__img {
    margin-right: 2rem;
  }
  .camera__right {
    margin-right: 2rem;
  }
}
@media (min-width: 1200px) {
  .image {
    height: 50rem;
    flex-basis: 60%;
  }
  .main-image__batman {
    width: 50rem;
    height: 50rem;
    position: absolute;
    object-fit: contain;
    top: -3.3rem;
    margin: 0 auto;
  }
  .main-image__shape {
    width: 50rem;
    height: 50rem;
  }
}
@media (min-width: 1400px) {
}
